.header{
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.logo{
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: fit-content;
}