*{
    margin: 0px;
    padding: 0px;
}
.web-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
    margin-right: 32%;
    gap: 15px;

}
.body-text{
    text-align: center;
}
.form-body{
    display: flex;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    
}
.progress-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigate-btns{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 60%;
}
.prevBtn{
    background-color: transparent;
     border: 1px solid #4A3AFF; 
     color: #4A3AFF;
}